obj_dir/
*.dylib
*.vcd
sim
env/
__pycache__/
*.pyc
gr-verilog/
dds.py
run.py
dds_epy_block_0*.py
default_epy_block_0.py
obj_dir_/
dds_gr.v
lpf.v
run.grc
sine_mem.v
scripts/Cargo.lock
dac_nonlin.v
dds_mod.v
scripts/target/
scripts/results/f_AW*_DW*_M*.bin
Otchet_o_rabote_*.docx
.DS_Store